.card {
  border-radius: 5px;
  height: 450px;
  width: 200px;
}

img{
  border-radius: 5px;
  height: 300px;
  width: 200px;
}

.card-content{
  color: white;
  line-height: 20px;
  padding: 10px;
}

.card-title{
  font-size: 14px;
}

.card-description{
  font-size: 12px;
}

