.card {
  border-radius: 5px;
  height: 470px;
  width: 200px;
}

img {
  border-radius: 5px;
  height: 300px;
  width: 200px;
}

.card-title {
  color: #ffa500;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
}

.card-content {
  color: dimgray;
  ;
  line-height: 20px;
  padding: 10px;
  text-align: justify;
}

.card-description {
  font-size: 12px;
}

.description {
  font-weight: bolder;
}
