header {
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 20px;
}

.menu {
  display: flex;
  gap: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.menu a:hover {
  text-decoration: underline;
}

.search-bar {
  border-radius: 5px;
  padding: 5px;
}

.search-bar input {
  padding: 5px;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  width: 100%;
}

header > div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.msg {
  background-color: #a33e3e;
  color: white;
  font-weight: 500;
  padding: 5px;
  width: 100vw;
}

@media (max-width: 768px) {
  .menu {
      display: none;
      flex-direction: column;
      background-color: #333;
      padding: 10px;
  }

  .menu.active {
      display: flex;
  }

  .search-bar {
      width: 100%;
      justify-content: center;
  }

  header > div {
      flex-direction: column;
      align-items: stretch;
  }
}
