main {
  background-color: #121212;
}

#hero_banner{
  background-color: #121212;
  padding: 100px;
  display: flex;
  justify-content: center;
}

.poster{
  border-radius: 15px;
  height: 600px;
  width: 400px;
}

img {
  height: 100px;
  width: 100px;
}

#card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  transition: transform 0.3s, z-index 0.3s;
}

.card:hover {
  transform: scale(1.1); /* Aumenta o tamanho */
  z-index: 10; /* Traz para frente */
}

@media (max-width: 630px) {
  .poster{
    border-radius: 5px;
    height: 360px;
    width: 260px;
  }
}
